body {
	background-color: teal;
	background-image: url("https://d13yacurqjgara.cloudfront.net/users/74446/screenshots/994859/kisac-hearts-four-leaf-clover-logo-design.png");
}
div{
	border-style: solid;
	border-width: 1px;
}